<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
">
    <!--Cuando spring procese este xml se meterá dentro del paquete indicado y activara todas las anotaciones-->
    <context:component-scan base-package="com.plan.spring.ejemploanotaciones"/>
    
    <!--Si quisieramos activar las anotaciones de ciclo de vida pero no las anotaciones de instanciación usaremos lo siguiente en vez del component-scan-->
    <!--<context:component-scan base-package="com.plan.spring.ejemploanotaciones"/>-->
</beans>
